<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.belajar.soalunas2015">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bank Soal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".halamanutama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Soal IPA"/>
        <activity android:name=".HasilUNAS"
            android:label="Hasil"/>
        <activity android:name=".tentang"
            android:label="Tentang"/>
        <activity android:name=".pilihan" />
        <activity android:name=".pilihsoal" />
        <activity android:name=".ips2015"
            android:label="Soal IPS"
            />
        <activity android:name=".Hasilips"
            android:label="Hasil"
            />
        <activity android:name=".Pilihan2016" />
        <activity android:name=".Pilihan2017"></activity>
    </application>

</manifest>